[package]
name = "impacted"
version = "1.4.0"
license = "Unlicense"
authors = ["Jonathan Cornaz"]
edition = "2021"
rust-version = "1.65"
description = "2d collision test for arbitrary convex shapes"
repository = "https://github.com/jcornaz/impacted"
categories = ["game-development"]
keywords = ["collision", "2d", "geometry", "gamedev", "gjk"]

[package.metadata.docs.rs]
all-features = true

[features]
default = ["std"]
std = ["glam/std", "thiserror"]
bevy-08 = ["bevy-transform-08", "bevy-ecs-08"]
bevy-transform-08 = ["dep:bevy-transform-08", "bevy-math-08"]
bevy-07 = ["bevy-transform-07", "bevy-ecs-07"]
bevy-transform-07 = ["dep:bevy-transform-07", "bevy-math-07"]
bevy-06 = ["bevy-transform-06", "bevy-ecs-06"]
bevy-transform-06 = ["dep:bevy-transform-06", "bevy-math-06"]

[dependencies]
# Public
bvh-arena = { version = "1.1", default-features = false, optional = true }

## Bevy 0.8
bevy-ecs-08 = { package = "bevy_ecs", version = "0.8.0", default-features = false, optional = true }
bevy-transform-08 = { package = "bevy_transform", version = "0.8.0", default-features = false, optional = true }
bevy-math-08 = { package = "bevy_math", version = "0.8.0", default-features = false, optional = true }

## Bevy 0.7
bevy-ecs-07 = { package = "bevy_ecs", version = "0.7.0", default-features = false, optional = true }
bevy-transform-07 = { package = "bevy_transform", version = "0.7.0", default-features = false, optional = true }
bevy-math-07 = { package = "bevy_math", version = "0.7.0", default-features = false, optional = true }

## Bevy 0.6
bevy-ecs-06 = { package = "bevy_ecs", version = "0.6.0", default-features = false, optional = true }
bevy-transform-06 = { package = "bevy_transform", version = "0.6.0", default-features = false, optional = true }
bevy-math-06 = { package = "bevy_math", version = "0.6.0", default-features = false, optional = true }

# Private
glam = { version = "0.22.0", default-features = false, features = ["libm"] }
thiserror = { version = "1.0", default-features = false, optional = true }
smallvec = { version = "1.10", default-features = false }

[dev-dependencies]
rstest = "0.16.0"
bevy = { version = "0.9.0", default-features = false, features = ["bevy_winit", "render", "x11", "bevy_asset"]}
glam = { version = "0.22.0", default-features = false, features = ["libm", "approx"] }
approx = "0.5.1"

[build-dependencies]
rustc_version = "0.4.0"

[[example]]
name = "bevy"
